.DS_Store
.env
*.swp
node_modules
tmp
test.sqlite3
development.sqlite3
staging.sqlite3
production.sqlite3
src/kernel/applications/gauze/build/*
src/kernel/src/applications/gauze/build/*
src/views/gauze/build/*
