.env
node_modules
tmp
test.sqlite3
development.sqlite3
staging.sqlite3
production.sqlite3
metafile.json
Makefile
todo
notes
src/views/gauze/v1/build/*.js
src/views/gauze/v2/build/*.js
src/views/project/build/*.js
src/views/gauze/v1/build/*.css
src/views/gauze/v2/build/*.css
src/views/project/build/*.css
src/views/gauze/v1/build/*.map
src/views/gauze/v2/build/*.map
src/views/project/build/*.map
test
/gauze
/release
/development
/bin
/env
eslint.config.js
