table,
th,
td {
	border: 1px solid black;
	border-spacing: 1px;
}

.flex th {
	margin-top: 1px;
	margin-left: 1px;
	margin-right: 1px;
}

.flex td {
	margin: 1px;
}

.field {
	direction: rtl;
}

table .truncate-ns {
	padding-left: 1px;
}

.row:focus .tooltip {
	display: block;
	border: 1px solid black;
	z-index: 1;
}

.action {
	height: 23px;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: 0px;
	grid-template-rows: 1fr;
}

.one {
	grid-column: 1 / span 1;
	grid-row: 1 / span 1;
	background-color: #080808;
}

.two {
	grid-column: 2 / span 1;
	grid-row: 1 / span 1;
	background-color: #01121a;
}

.three {
	grid-column: 3 / span 1;
	grid-row: 1 / span 1;
	background-color: #005f73;
}

.four {
	grid-column: 4 / span 1;
	grid-row: 1 / span 1;
	background-color: #099396;
}

.five {
	grid-column: 5 / span 1;
	grid-row: 1 / span 1;
	background-color: #93d2bd;
}

.six {
	grid-column: 6 / span 1;
	grid-row: 1 / span 1;
	background-color: #e8d7a4;
}

.seven {
	grid-column: 7 / span 1;
	grid-row: 1 / span 1;
	background-color: #ed9b00;
}

.eight {
	grid-column: 8 / span 1;
	grid-row: 1 / span 1;
	background-color: #ca6702;
}

.nine {
	grid-column: 9 / span 1;
	grid-row: 1 / span 1;
	background-color: #bb3f02;
}

.ten {
	grid-column: 10 / span 1;
	grid-row: 1 / span 1;
	background-color: #b02013;
}

.eleven {
	grid-column: 11 / span 1;
	grid-row: 1 / span 1;
	background-color: #9c2227;
}

.twelve {
	grid-column: 12 / span 1;
	grid-row: 1 / span 1;
	background-color: #eeeeee;
}

.small-window-1 {
	grid-column: 2 / span 2;
	grid-row: 1 / span 1;
	color: #eeeeee;
}

.small-window-2 {
	grid-column: 4 / span 2;
	grid-row: 1 / span 1;
	color: #e8d7a4;
}

.small-window-3 {
	grid-column: 6 / span 2;
	grid-row: 1 / span 1;
	color: #888888;
}

.small-window-4 {
	grid-column: 8 / span 2;
	grid-row: 1 / span 1;
	color: #e8d7a4;
}

.small-window-5 {
	grid-column: 10 / span 2;
	grid-row: 1 / span 1;
	color: #eeeeee;
}

.athelas {
    font-family: athelas, georgia, serif;
}
