GAUZE_ENV="development_monolithic"
GAUZE_DEBUG_UI="TRUE"
GAUZE_DEBUG_SQL="TRUE"
GAUZE_DEBUG_GRAPHQL="TRUE"
GAUZE_ENVIRONMENT_JWT_SECRET="REPLACE_ME_0123456789abcdef0123456789abcdef"
GAUZE_SYSTEM_JWT_SECRET="REPLACE_ME_abcdef0123456789abcdef0123456789"
GAUZE_DATABASE_JWT_SECRET="REPLACE_ME_fedcba9876543210fedcba9876543210"
GAUZE_KERNEL_JWT_SECRET="REPLACE_ME_00112233445566778899aabbccddeeff"
GAUZE_PROXY_JWT_SECRET="REPLACE_ME_ffeeddccbbaa99887766554433221100"
GAUZE_CURSOR_SECRET="REPLACE_ME_1234567890abcdef1234567890abcdef"
GAUZE_CACHE_DATABASE_SIZE="1024"
GAUZE_CACHE_DATABASE_TTL="8192"
GAUZE_CACHE_SYSTEM_AUTH_SIZE="1024"
GAUZE_CACHE_SYSTEM_AUTH_TTL="8192"
GAUZE_CACHE_SYSTEM_MODEL_SIZE="1024"
GAUZE_CACHE_SYSTEM_MODEL_TTL="8192"
GAUZE_CACHE_TIERED_LARGE_SIZE="32"
GAUZE_CACHE_TIERED_MEDIUM_SIZE="512"
GAUZE_CACHE_TIERED_SMALL_SIZE="8192"
GAUZE_PROTOCOL="http"
GAUZE_HOST="localhost"
GAUZE_PORT="4000"
GAUZE_SERVER_PROTOCOL="http"
GAUZE_SERVER_HOST="localhost"
GAUZE_SERVER_PORT="4000"
GAUZE_GRAPHQL_MAX_DEPTH="16"
GAUZE_HTTP_MAX_SIZE="1048576"
GAUZE_SQL_MAX_COLUMNS="1024"
GAUZE_SQL_BIND_LIMIT="32767"
GAUZE_SQL_MAX_LIMIT="1024"
GAUZE_SQL_MAX_BREADTH="4096"
GAUZE_SQL_MAX_TRANSACTIONS="1024"
LOG_LEVEL_MINIMUM="2"
LOG_LEVEL_MAXIMUM="8"
LOG_LEVEL_REGEX=""
LOG_TOPIC_REGEX=""
LOG_MESSAGE_REGEX=""
KNEX_CLIENT="better-sqlite3"
